@model BTL_Nhom8.Models.Account

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!--<!DOCTYPE html>
<html lang="en">

<head>
    <title>GURU Able - Free Lite Admin Template </title>-->
<!-- HTML5 Shim and Respond.js IE9 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
<!-- Meta -->
<!--<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="description" content="CodedThemes">
<meta name="keywords" content=" Admin , Responsive, Landing, Bootstrap, App, Template, Mobile, iOS, Android, apple, creative app">
<meta name="author" content="CodedThemes">-->
<!-- Favicon icon -->
<!--<link rel="icon" href="~/Areas/Admin/Assets/images/favicon.ico" type="image/x-icon">-->
<!-- Google font-->
<!--<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,800" rel="stylesheet">-->
<!-- Required Fremwork -->
<!--<link rel="stylesheet" type="text/css" href="~/Areas/Admin/Assets/css/bootstrap/css/bootstrap.min.css">-->
<!-- themify-icons line icon -->
<!--<link rel="stylesheet" type="text/css" href="~/Areas/Admin/Assets/icon/themify-icons/themify-icons.css">-->
<!-- ico font -->
<!--<link rel="stylesheet" type="text/css" href="~/Areas/Admin/Assets/icon/icofont/css/icofont.css">-->
<!-- Style.css -->
<!--<link rel="stylesheet" type="text/css" href="~/Areas/Admin/Assets/css/style.css">-->
@*</head>*@

@*<body class="fix-menu">*@
<!-- Pre-loader start -->
<div class="theme-loader">
    <div class="ball-scale">
        <div class='contain'>
            <div class="ring"><div class="frame"></div></div>
            <div class="ring"><div class="frame"></div></div>
            <div class="ring"><div class="frame"></div></div>
            <div class="ring"><div class="frame"></div></div>
            <div class="ring"><div class="frame"></div></div>
            <div class="ring"><div class="frame"></div></div>
            <div class="ring"><div class="frame"></div></div>
            <div class="ring"><div class="frame"></div></div>
            <div class="ring"><div class="frame"></div></div>
            <div class="ring"><div class="frame"></div></div>
        </div>
    </div>
</div>
<!--</section>-->
<div class="breadcrumb-area">
    <!-- Top Breadcrumb Area -->
    <div class="top-breadcrumb-area bg-img bg-overlay d-flex align-items-center justify-content-center"
         style="background-image: url(/wwwroot/img/bg-img/24.jpg);">
        <h2>Đăng nhập</h2>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        @* <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")"><i class="fa fa-home"></i> Đăng nhập</a></li>*@
                        @* <li class="breadcrumb-item active" aria-current="page">Đăng nhập</li>*@
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<section class="shop-page section-padding-0-100">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 push-sm-2">
                <!-- Authentication card start -->
                <div class="card-body">
                    @using (Html.BeginForm("Login", "Home", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-group">
                            @Html.LabelFor(m => m.Email)
                            @Html.TextBoxFor(m => m.Email, "", new { @class = "form-control", @placehoder = "Email" })
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(m => m.Password)
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placehoder = "Mật khẩu" })
                        </div>

                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Đăng nhập" class="btn btn-default" />
                            </div>
                        </div>
                    }
                </div>
                <!-- Authentication card end -->
            </div>
            <!-- end of col-sm-12 -->
        </div>
        <!-- end of row -->
    </div>
</section>
<p>@ViewBag.error</p>
<!-- Required Jquery -->
<!--<script type="text/javascript" src="~/Areas/Admin/Assets/js/jquery/jquery.min.js"></script>
<script type="text/javascript" src="~/Areas/Admin/Assets/js/jquery-ui/jquery-ui.min.js"></script>
<script type="text/javascript" src="~/Areas/Admin/Assets/js/popper.js/popper.min.js"></script>
<script type="text/javascript" src="~/Areas/Admin/Assets/js/bootstrap/js/bootstrap.min.js"></script>-->
<!-- jquery slimscroll js -->
<!--<script type="text/javascript" src="~/Areas/Admin/Assets/js/jquery-slimscroll/jquery.slimscroll.js"></script>-->
<!-- modernizr js -->
<!--<script type="text/javascript" src="~/Areas/Admin/Assets/js/modernizr/modernizr.js"></script>
<script type="text/javascript" src="~/Areas/Admin/Assets/js/modernizr/css-scrollbars.js"></script>
<script type="text/javascript" src="~/Areas/Admin/Assets/js/common-pages.js"></script>-->
@*</body>

    </html>*@
